tests/data/namespaces/_base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="urn://foo/base" targetNamespace="urn://foo/base"
            elementFormDefault="qualified">

    <xsd:complexType name="PersonInfoBase">
        <xsd:sequence>
            <xsd:element name="lastName" type="String99"/>
            <xsd:element name="firstName" type="String49"/>
            <xsd:element name="middleName" type="String49" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="String49">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="49"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="String99">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="99"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
