examples/contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="contract">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contractId" type="xs:string"/>
                <xs:element name="company" type="xs:string"/>
                <xs:element name="signDate" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 