tests/data/complex/choice/occurs_complex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:choice minOccurs="2" maxOccurs="4">
                <xs:element name="choice1" type="xs:string"/>
                <xs:element name="choice2" type="xs:string"/>
                <xs:element name="choice3" type="xs:string"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema> 
