tests/data/complex/sequence/occurs_complex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence minOccurs="2" maxOccurs="4">
                <xs:element name="choice1" type="xs:string"/>
                <xs:element name="choice2" type="xs:string"/>
                <xs:element name="choice3" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 
